<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="TCP">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="certificatedetails" name="TC9BasicHttpAndNetTCPSupported.Service1">
        <endpoint address="basicHttp" binding="basicHttpBinding"
          name="Basic" contract="TC9BasicHttpAndNetTCPSupported.IService1" />
        <endpoint address="netTCP" binding="netTcpBinding" bindingConfiguration="" 
          name="TCP" contract="TC9BasicHttpAndNetTCPSupported.IService1" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:8081/" />
            <add baseAddress="http://localhost:8083/" />
            <add baseAddress="net.tcp://localhost:8090/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="certificatedetails">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" findValue="4df903d7ad017c8a4346b0c21b909ba8"
                                x509FindType="FindBySerialNumber" />
            <clientCertificate >
              <authentication certificateValidationMode="PeerOrChainTrust" trustedStoreLocation="CurrentUser"/>
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
