<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Owin.Security.Authorization" version="1.2.0.1" targetFramework="net472" />
  <package id="Owin" version="1.0" targetFramework="net472" />
</packages>